//registry.npmjs.org/:_authToken=${NPM_JS_AUTH_TOKEN}
;@navikt:registry=https://registry.npmjs.org/
;@navikt:registry=https://npm.pkg.github.com/
;@navikt/dusseldorf-frontend-common:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${NPM_GITHUB_AUTH_TOKEN}

