.utenlandsoppholdForm {
    min-width: 24rem;
    @media (max-width: 736px) {
        min-width: 0;
        width: 100%;
    }
    &__knapper {
        display: flex;
        justify-items: stretch;
        button {
            flex: 1 1 0;
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
}
